body {
  background-color: #fada5e;
color: black;
    font-size: 20px;
   
}


.navbar {
  width: 100%;
  background-color: #f4c2c2;
  overflow: auto;
}


.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 17%; 
  text-align: center; 
}


.navbar a:hover {
  background-color: #f7bfbe;
}


.navbar a.active {
  background-color: #ffc1cc;
}

h1 {
  text-align: center;
    font-family: serif; 
    font: verdana;
    
}
