body {
  background-color: #81d4fa;
}


.navbar {
  width: 100%;
  background-color: #81d4fa;
  overflow: auto;
}


.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 17%; 
  text-align: center; 
}


.navbar a:hover {
  background-color: #42a5f5;
}


.navbar a.active {
  background-color: #2196f3;
}

