body {
  height: 100%;

 
  /* The image used */
  background-image: url("background.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

        font-family: "Amatic SC", sans-serif;
        
}
header  {
   display: block;
margin:auto;
    width: 50%;
    text-align: center
    
}
.navbar {
  width: 100%;
  background-color: #f4c2c2;
  overflow: auto;
    display: inline-block;
  border: 2px solid black;
  width: 100%;
}


.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 17%; 
  text-align: center; 
    
}


.navbar a:hover {
  background-color: #f7bfbe;
}


.navbar a.active {
  background-color: #ffc1cc;
   
}
p {
    font-size: 25px;
}
li {
    font-size: 20px;
}
/* Three columns side by side */
.column {
  float: center;
  width: 40%;
  margin-bottom: 50px;
  padding: 0 430px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.